/* Vencord MemberCount Tweaks */
/* This module has no affect unless the vencord MemberCount plugin is installed */
/* https://vencord.dev/plugins/MemberCount */
/* NOT MY CODE I ONLY ADDED STUFF */

.vc-membercount-online-dot,
.vc-membercount-total-dot {
    display: none !important;
}

.vc-membercount-total::before {
    content: "/";
    visibility: visible;
    position: absolute;
    display: contents;
}

.vc-membercount-total::after {
    content: " online modified by ytz_solar";
    visibility: visible;
    position: absolute;
    display: contents;
    font-size: 12px;
}

.membersGroup_c8ffbb.container_cc72c1 {
    padding-top: 20px;
}
